body, html {
    margin: 0;
    height: 100%;
    overflow-y: fixed;
    font-family: 'Fira Mono', monospace;
}
.informacion {
    
    position: absolute;
    top: 600px;
    left: 50%;
    transform: translateX(-50%);
    color: aliceblue;
}
.titulo{
    position: absolute;
    top: 200px;
    left: 1900px;
    transform: translateX(-70%);
    color: rgb(0, 0, 0);
}
.redes_sociales{
    position: absolute;
    top: 1700px;
    left: 400px;
    color: rgb(0, 0, 0);
}
.titulo2{
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    color: rgb(0, 0, 0);
}
.fondo_s{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 500px;
}
.icono{
    position: absolute;
    top: 390px;
    left: 2000px;
}
.perfil{
    position: absolute;
    top: 100px;
    left: 60px;
    width: 400px;
    height: 400px;
}
.background1 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    transition: background-color 0.5s ease;
    mix-blend-mode: lighten;
}
.background1:hover {
    background-color: rgb(10, 10, 10);
}
body:hover .background1 {
    filter: brightness(1.2);
}
.blender{
  position: absolute;
  top: 1000px;
  left: 50%;
  transform: translateX(-50%);
  color: aliceblue;
}
.unity{
  position: absolute;
  top: 1200px;
  left: 50%;
  transform: translateX(-50%);
  color: aliceblue;
}
.escritor{
  position: absolute;
  top: 1400px;
  left: 50%;
  transform: translateX(-50%);
  color: aliceblue;
}
.diseñador{
  position: absolute;
  top: 1600px;
  left: 50%;
  transform: translateX(-50%);
  color: aliceblue;
}
.facebook{
  width: 100px;
  height: auto;
  position: absolute;
  top: 1800px;
  left: 200px;
}
.instagram{
  width: 100px;
  height: auto;
  position: absolute;
  top: 1800px;
  left: 400px;
}
.twitter{
  width: 100px;
  height: auto;
  position: absolute;
  top: 1800px;
  left: 600px;
}
.input-container {
    top: 30px;
    left: 1800px;
    width: 220px;
    position: fixed;
  }
  .icon {
    position: absolute;
    right: 10px;
    top: calc(50% + 5px);
    transform: translateY(calc(-50% - 5px));
  }
  .input {
    width: 100%;
    height: 40px;
    padding: 10px;
    transition: .2s linear;
    border: 2.5px solid black;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  .input:focus {
    outline: none;
    border: 0.5px solid black;
    box-shadow: -5px -5px 0px black;
  }
  .input-container:hover > .icon {
    animation: anim 1s linear infinite;
  }
  @keyframes anim {
    0%,
    100% {
      transform: translateY(calc(-50% - 5px)) scale(1);
    }
  
    50% {
      transform: translateY(calc(-50% - 5px)) scale(1.1);
    }
  }